@import '../../../../pages/vars.scss';

.pagination {
  display: flex;
  justify-content: space-between;
  &-skipbtn {
    width: 48px;
    height: 32px;
    border: $border;
    border-radius: 3px;
  }
  &__pgs {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 128px);
    &-btn {
      width: calc(33% - 8px);
      height: 32px;
      border: $border;
      border-radius: 3px;
    }
  }
}
