@import '../../../../pages/vars.scss';

.header {
  display: flex;
  align-items: center;
  padding: 0 $sp;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: $border;
  @media screen and (min-width: 360px) {
    padding: 0 $mp;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 $lp;
  }
}
